@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.label-transform {
  transform: translate3d(0, -70%, 0) scale(0.7);
}

input::placeholder {
  transition: opacity 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.layout-grid { 
  grid-template-columns: minmax(400px, 20%) 1fr;
}

.animate__animated {
  /* fix drag and drop animation */
  animation-fill-mode: none;
}